<?xml version="1.0" encoding="UTF-8"?>

<!-- The root node for Magento module configuration -->
<config> 

    <!-- 
        The module's node contains basic 
        information about each Magento module
    -->
    <modules>

        <!--
            This must exactly match the namespace and module's folder
            names, with directory separators replaced by underscores
        -->
        <TahsinsGarage_AwesomeCloud>

            <!-- The version of our module, starting at 0.0.1 -->
            <version>1.0</version>

        </TahsinsGarage_AwesomeCloud>

    </modules>
    <!-- we are making changes to the frontend -->
    <frontend>
        
        <!-- we are making changes to the layout -->
        <layout>
            
            <!-- we are adding a new update file -->
            <updates>
                
                <!-- 
                    this child node name must be
                    unique throughout Magento
                -->
                <tahsinsgarage_awesomecloud module="TahsinsGarage_AwesomeCloud">
                    
                    <!-- the name of the layout file we are adding -->
                    <file>tahsinsgarage_awesomecloud.xml</file>
                    
                </tahsinsgarage_awesomecloud>
                
            </updates>
            
        </layout>
        
    </frontend>
</config>