<?xml version="1.0" encoding="UTF-8"?>

<!-- The root node for Magento module configuration -->
<config> 

    <!-- 
        The module's node contains basic 
        information about each Magento module
    -->
    <modules>

        <!--
            This must exactly match the namespace and module's folder
            names, with directory separators replaced by underscores
        -->
        <TahsinsGarage_AwesomeCloud>

            <!-- The version of our module, starting at 0.0.1 -->
            <version>1.0</version>

        </TahsinsGarage_AwesomeCloud>

    </modules>
    <global>
        <blocks>
            <awesomecloud>
                <class>TahsinsGarage_AwesomeCloud_Block</class>
            </awesomecloud>
        
            <tag>
                <rewrite>
                    <popular>TahsinsGarage_AwesomeCloud_Block_Popular</popular>
                </rewrite>
            </tag>
        </blocks>
        
    </global>
    <!-- we are making changes to the frontend -->
    <frontend>
        <routers>
            <awesomecloud>
                <use>standard</use>
                <args>
                    <module>TahsinsGarage_AwesomeCloud</module>
                    <frontName>awesomecloud</frontName>
                </args>
            </awesomecloud>
        </routers>
       <layout>
            <updates>
                <awesomecloud>
                    <file>awesomecloud.xml</file>
                </awesomecloud>
            </updates>
        </layout> 
    </frontend>
</config>